<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <title>{% block title %}Test Application{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/prices">Prices</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user == null %}{# TODO change into is_granted('AUTHENTICATED_REMEMBERED')#}
                            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                            <li><a href="">Sign in</a></li>
                        {% else %}
                            <li><a href="/packages">My packages</a></li>
                            <li><a href="/create">Send package</a></li>
                            <li><a href="/follow">Follow package</a></li>
                            <li><a href="/logout">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div id="content" class="container body-content" style="padding-top: 70px">
            {% block content %}
            {% endblock %}
            <hr />

            <footer>
                <p> </p>
            </footer>
        </div>
    </body>
</html>