{% trans_default_domain 'FOSUserBundle' %}
<h3>Sign in</h3>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
{# ML - userForm #}
{{ form_start(senderForm) }}
    {{ form_widget(senderForm) }}
    <div>
        {#<input type="submit" value="{{ 'registration.submit'|trans }}" />#}
        <input type="submit" value="{{ 'Sign in'}}" />
    </div>
{{ form_end(senderForm) }}
{{ form_end(form) }}
