{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        </div>

        <div>
            <h3>Login</h3>
        </div>

        <div>
            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
            <label for="username">{{ 'username'}}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>


        <div>
            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
            <label for="password">{{ 'password' }}</label>
            <input type="password" id="password" name="_password" required="required" />
        </div>


        <div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
            <label for="remember_me">{{ 'remember_me'}}</label>
        </div>


        <div>
            {# <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /> #}
            <input type="submit" id="_submit" name="_submit" value="{{ 'login'}}" />
        </div>

    </form>
{% endblock fos_user_content %}
