{% extends 'base.html.twig' %}

{% block content %}
    <h3>Form:</h3>
    {{ form_start(accountForm) }}
    {{ form_widget(accountForm) }}

    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button type="submit">Register!</button>
    {{ form_end(userForm) }}
    {{ form_end(accountForm) }}

{% endblock %}